.root {
    @apply relative w-full h-full;
    overflow-y: hidden;
  }
  
  .leftControl,
  .rightControl {
    @apply bg-black bg-opacity-50 absolute top-32 md:top-48  z-20 w-6 h-6 flex items-center justify-center rounded-full;
  }
  
  .leftControl:hover,
  .rightControl:hover {
   
  }
  
  .leftControl:hover,
  .rightControl:hover {
    @apply outline-none;
  }
  
  .leftControl {
    @apply bg-cover left-4 md:left-6;
    background-image: url('/cursor-left.png');
  
  }
  
  .rightControl {
    @apply bg-cover right-4 md:right-6;
    background-image: url('/cursor-right.png');
  
  }
  
  .control {
    @apply opacity-100 transition duration-150;
  }

